<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Author" [(ngModel)]="author">
  </mat-form-field>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Category" aria-label="Category" matInput [matAutocomplete]="auto" [formControl]="form" [(ngModel)]="categorySelected">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let category of filteredCategories | async " [value]="category.name">
          <span>{{ category.name }}</span> :
          <small>{{category.description}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Published Date" [(ngModel)]="publishedDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="User" [(ngModel)]="user">
  </mat-form-field>

  <div>
    <button mat-raised-button color="accent" (click)="save()" *ngIf="!edit ">Save</button>
    <button mat-raised-button color="accent" (click)="update()" *ngIf="edit ">Update</button>
  </div>
</div>