<mat-toolbar color="primary">
  <span>Library</span>
</mat-toolbar>

<div class="container">

  <button mat-fab color="accent" (click)="addBook()" class="button_save">
    <i class="material-icons">add</i>
  </button>

  <br>
  <br>

  <div class="table">
    <ngx-datatable [rows]="books" [reorderable]="reorderable" [loadingIndicator]="loadingIndicator">

      <ngx-datatable-column name="name" sortable="true" prop="name">
        <template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <div class="table-header">
            <strong>Name</strong>
          </div>
        </template>
        <template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="table-row">{{row.name}}</div>
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column name="author" sortable="true" prop="author">
        <template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <div class="table-header">
            <strong>Author</strong>
          </div>
        </template>
        <template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="table-row">{{row.author}}</div>
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column name="category" sortable="true" prop="category">
        <template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <div class="table-header">
            <strong>Category</strong>
          </div>
        </template>
        <template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="table-row">{{row.category}}</div>
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column name="publishDate" sortable="true" prop="publishDate">
        <template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <div class="table-header">
            <strong>Publish Date</strong>
          </div>
        </template>
        <template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="table-row">{{row.publishDate | date}}</div>
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column name="status" sortable="true" prop="status">
        <template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <div class="table-header">
            <strong>Borrowed to</strong>
          </div>
        </template>
        <template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="table-row">{{row.user}}</div>
        </template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Actions" sortable="false" prop="id">
        <template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <div class="table-header">
            <strong>Actions</strong>
          </div>
        </template>
        <template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="table-row">
            <button mat-icon-button color="warn" (click)="delete(row)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="edit(row)">
              <mat-icon>mode_edit</mat-icon>
            </button>
          </div>
        </template>
      </ngx-datatable-column>
    </ngx-datatable>

    <mat-paginator *ngIf="total > 0" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent($event)">
    </mat-paginator>

  </div>
</div>