/* Structure */
  .container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1024px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
  }
  
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .button_save{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .table{
    width: 90%;
    margin: 0 auto;
  }
  
  .table-header{
    font-weight: bold;
    background-color: gainsboro;
    padding-left: 5px;
  }

  .table-row{
    border-bottom: 1px solid gainsboro;
    height: 30px;
    padding-left: 3px;
  }